mat-grid-list {
    height: 100vh;
}
mat-grid-tile {
    height: 100%;
}
mat-tab-group {
    height: 100%;
    width: 100%;
}
// ::ng-deep md-grid-tile.popular-tags .mat-figure {
//     display: block;
//     top: 65px;
  
// }
.popular-tags >::ng-deep .mat-figure{
    flex-direction: column;
    justify-content: flex-start;
}

.tags-card {
    margin: 0px 20px;
}

